.body {
  background-color: #000;
}

.container {
  max-width: 480px;
  margin-top: 140px;
  margin: 140px auto;
}

.image {
  width: 100%;
}

.text-block {
  margin-top: 20px;
  font-family: "Atkinson Hyperlegible Next", serif;
  font-optical-sizing: auto;
  font-weight: 400;  
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  font-style: italic;
  text-align: center;
}

.link {
  font-family: "Atkinson Hyperlegible Next", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #fff;
  font-size: 48px;
  font-style: italic;
  text-align: center;
  text-decoration: none;
}

.black {
  color: #000;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  text-decoration: underline;
}

.link:focus {
  text-decoration: underline;
}

.link:focus-visible {
  text-decoration: underline;
}

.link[data-wf-focus-visible] {
  text-decoration: underline;
}

.div-block {
  width: 200px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .container {
    margin-top: 140px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: 260px;
    margin-top: 100px;
  }

}
